*{
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background: linear-gradient(#1F1F1F,#223046);
    background-size: cover;
    font-family: 'Nunito', sans-serif; 
}

/* background: radial-gradient(#223046,#141d2b); */

header{
    box-sizing: border-box;
    width: 100%;
    background-color: #1F1F1F;   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid White;
}
.home-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-item{
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 5px;
}

.nav-link.active{
    background-color: #0d6efd;
    color: white;
}

main{
    padding: 20px;
}

.aBitOfMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo{
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0.5px 10px #ffffff4b);
}

.aBitOfMe h2{
    font-weight: bold;
}


p{   
    color: rgb(255, 255, 255);
}

.projects{
    display: inline-grid;
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

h2{
    color: white;
}

.portfolioGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.card{
    width: 100%;
    border-radius: 10px;
    transition: 1s;
    z-index: 0;
}

.card:hover{
    z-index: 1;
    transform: scale(1.1);
}

.cardHeader{
    position: relative;
    background-color: #222222; 
    width: 100%;
    height: 28px;
    border-radius: 10px 10px 0 0;
}

.circule-red{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 59, 48);
}

.circule-yellow{
    position: absolute;
    left: 25px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 204, 0);
}

.circule-green{
    position: absolute;
    left: 40px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(76, 217, 100);
}

.cardImg img{
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.btn-projects{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    background-color: #314158;
    border-radius: 8px;
    transition: 1s;
}

.btn-projects:hover{
    background-color: #495361;
    /* transform: scale(1.2); */
}

footer{
    text-align: center;
}

.github,
.linkedin{
    width: 15px;
}

@media (max-width: 640px){
    .home-item,
    .nav{
        display: none;
    }

    .portfolioGrid{
        display: flex;
        flex-direction: column;
    }

}