body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background: linear-gradient(#1F1F1F,#223046);
    font-family: 'Nunito', sans-serif; 
}

/* background: radial-gradient(#223046,#141d2b); */

header{
    box-sizing: border-box;
    width: 100%;
    background-color: #1F1F1F;   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid White;
}
.home-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-item{
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    color: white;
}

.menu{
    display: none;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}


.nav{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 5px;
}

.nav-link.active{
    background-color: #0d6efd;
    color: white;
}

main{

    padding: 20px;
}

.profile-photo{
    width: 200px;
    border-radius: 10px;
}

p{   
    color: rgb(245, 231, 231);
}

.projects{
    display: inline-grid;
    grid-gap: 10px;
}

.btn-projects{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    background-color: #314158;
    border-radius: 8px;
    transition: 1s;
}

.btn-projects:hover{
    background-color: #495361;
    transform: scale(1.2);

}

@media (max-width: 640px){
    .home-item,
    .nav{
        display: none;
    }

    .menu{
        display: block;
    }
    
}