.aBitOfMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .profile-photo {
    width: 200px;
    border-radius: 50%;
  }
  
  #header-about-me {
    color: white;
    font-size: 2rem;
  }
  
  h2 {
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  p {
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
  }
  
  .typing-animation {
    animation: typing 4s steps(40) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .hide {
    opacity: 0;
    height: 0;
    margin: 0;
  }
  
  .intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.intro-text {
    display: inline-block;
    margin-bottom: 10px;
}

.cursor-animation {
    position: absolute;
    animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Name{
  margin-top: 20px;
}

.main-text-container p {
  text-wrap: pretty;
  margin-top: 20px;
}

