
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.img-skills{
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.img-skills img{
    width: 60px;
    cursor: pointer;
    transition: 0.3s;
    filter: grayscale(100%);
    /* filter: contrast(0.2); */
}

.img-skills img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
    /* filter: contrast(1); */
}

.github,
.linkedin{
    color: black;
    width: 15px;
}