.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person{
    filter: contrast(0.1);
    font-size: 20px;
}

.contact input,
.contact button {
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
}

.contact button{
    cursor: pointer;
    box-shadow: 0 0 2px 0 #00f, 0 0 2px 0 #00f, 0 0 2px 0 #00f;
}

.contact button:hover{
    box-shadow: 0 0 5px 0 #00f, 0 0 1px 0 #00f, 0 0 5px 0 #00f;
}

.contact input::placeholder,
.contact button::placeholder,
.contact textarea::placeholder{
    color: rgba(255, 255, 255, 0.377);
}

.contact textarea{
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    border: 0;
    outline: none;
}

#contact-form > div:nth-child(1),
#contact-form > div:nth-child(2){
    margin-top: calc(var(--nextui-font-size-small) + 25px);
}

#contact-form > div:nth-child(3){
    margin-top: calc(var(--nextui-font-size-small));
}